
<!DOCTYPE html>
<html>
<head>
  <title>Kingsong</title>
  <link rel="stylesheet" media="all" href="/stylesheets/default.css" data-turbolinks-track="true" />
  <script src="/javascripts/default.js" data-turbolinks-track="true"></script>
  <meta name="csrf-param" content="authenticity_token" />
<meta name="csrf-token" content="8uXjqsGopg4Lecfv/chniV53NuqdP3yzFw+BciXOli1uDdQfAaQp36lCl1Qeh7DXmY3+lZSwknnpa5Oft0YmWw==" />
</head>
<body background = "https://images.alphacoders.com/572/572721.jpg">


<!DOCTYPE html>
<html>
<title>บทเพลงพระราชนิพนธ์</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<body background="https://depositphotos.com/26476447/stock-photo-rainbow-clouds.html">

<!-- Navbar (sit on top) -->
<div class="w3-top">
  <div class="w3-bar w3-white w3-wide w3-padding w3-card-2">
    <a href="#home" class="w3-bar-item w3-button"><b>รวมบทเพลงพระราชนิพนธ์</b></a>
    <!-- Float links to the right. Hide them on small screens -->
    <div class="w3-right w3-hide-small">
      <a href="home" class="w3-bar-item w3-button">HOME</a>
      <a href="kingsong1" class="w3-bar-item w3-button">อาทิตย์อับแสง</a>
      <a href="kingsong2" class="w3-bar-item w3-button">ใกล้รุ่ง</a>
      <a href="kingsong3" class="w3-bar-item w3-button">ยามเย็น</a>

    </div>
  </div>
</div>


<!-- Page content -->
<div class="w3-content w3-padding" style="max-width:1564px">

  <!-- Project Section -->
  <div class="w3-container w3-padding-32" id="projects">
  <center> <h2 class="w3-border-bottom w3-border-light-grey w3-padding-16">เพลงของพ่อ</h2></center>
  </div>

<div class="w3-row-padding w3-grayscale">
 <div class="w3-col l3 m6 w3-margin-bottom">
<h3><a href="kingsong1">ใกล้รุ่ง</a><br></h3>
ได้ยินเสียงแว่วดังแผ่วมาแต่ ไกล ไกล<br>
ชุ่มชื่นฤทัย หวานใดจะปาน<br>
ฟังเสียงบรรเลง ขับเพลงประสาน<br>
จากทิพย์วิมาน ประทานกล่อมใจ<br><br>

* ใกล้ยามเมื่อแสง ทอง ส่อง<br>
ฉันคอยมองจ้อง ฟ้าเรืองรำไร<br>
ลมโบกโบยมา หนาว ใจ<br>
รอช้าเพียงไร ตะวันจะมา<br><br>

** เพลิดเพลินฤทัย ฟังไก่ประสานเสียงกัน<br>
ดอกมะลิวัลย์ อวลกลิ่นระคนมณฑา<br>
โอ้ในยามนี้ เพลิน หนักหนา<br>
แสงทองนวลผ่องนภา แสนเพลินอุราสำราญ<br><br>

*** หมู่มวลวิหคบินผกมาแต่ รัง นอน<br>
เฝ้าเชยชิดช้อน ลิ้มชมบัวบาน<br>
ยินเสียงบรรเลง ดังเพลงขับขาน<br>
สอดคล้องกังวาน ซาบซ่านจับใจ<br><br>

( ซ้ำ * , ** , *** )
</div>

<center><iframe width="854" height="480" src="https://www.youtube.com/embed/VLBJQgWkgog" frameborder="0" allowfullscreen></iframe></center>


</body>
</html>

</body>
</html>
